
/* MOBILE HEADER */
@media only screen and (max-width: 600px) {



    #header {
        height: 56px;
    }
    #rvaLogo {
        height: 70%;
        padding-left: 32px;
    }
    .hamburger {
        margin-left: none;
        display: flex;
        align-items: center;
        padding-right: 32px;
    }
    #navGroup {
        display: none;
        gap: none;
        padding-right: 128px !important;
    }
    #mobileNav {
        display: flex !important;
        flex-direction: column !important;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #mobileNavContainer {
        display: block;
        flex-direction: column;
        text-align: center;
    }
    .mobileNavigation {
        display: flex;
        /* margin: 0px 5%; */
        /* width: 252px; */
        text-align: center;
        flex-direction: column;

        font-family: 'Mulish';
        font-style: normal;
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
        color: #464545;
        padding: 0px;
    }
    ul.mobileNavigation {
        text-align: center;
        align-items: center;
    }
    button.hamburger {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
=======
=======
/* For extremely small screen devices (595px and below) */

/* For extremely small screen devices (595px and below) */

/* 1000px for something shifting */

/* SKILL CARD RESPONSIVE */
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 600px) {


    #heroGrid {
        background-image: url("../Style/Images/mitchell-luo-oLw9R4GxGug-unsplash.png");
        /* background-image: url("../Style/Images/hero background full.png"); */
        /* height: 464px; */
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        justify-content: center;
        padding: 32px 32px;
        padding-bottom: 0;
        box-shadow: inset 0px 2px 4px rgba(70, 69, 69, 0.25);
        /* border-radius: 15px 15px 0px 0px; */
        
    }
    #heroContent {
        display: grid;
        grid-gap: 32px;
        grid-template-columns: 1fr 1fr;
        background: rgba(254, 252, 249, 0.84);
        border-radius: 15px 15px 0px 0px;
        padding: 45px 64px;
        width: auto;
        margin: 0px 0px;
    
    }
    div#heroContent {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #heroIntro {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    h1#heroIntro {
        display: flex;
        text-align: center;
    }
    #heroButtons {
        display: grid;
        /* grid-gap: 16px; */
        grid-template-columns: 1fr 1fr;
        width: max-content;
        height: 45px;
    }

    #heroImage {
        display: none;
    }
    


=======
    #cardContainer {
        display: block;
        flex-wrap: wrap;
        margin: 96px auto;
        align-items: center;
        justify-content: center;
    }
    #accessibility {
        margin: 40px 0px !important; 
    }
    .selectedSkill {
        min-height: 265px;
        max-height: 265px;
        border: 1px solid #C7C5C3;
        border-radius: 15px;
        background-color: white;
        align-items: center;
        max-width: 332px;
        min-width: 332px;
        flex: none;
    }
}


=======


}

/* For extremely small screen devices (1000px and below) */
@media only screen and (max-width: 1000px) {

}


/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px), (max-width: 1310px) {
}
/* and even larger (1410px and below) */
@media only screen and (max-width: 1410px) {}