@media only screen and (max-width: 600px) {

    #header {
        height: 56px;
    }
    .hamburger {
        margin-left: none;
        display: block;
        align-items: center;
    }
    #navGroup {
        display: none;
        gap: none;
        padding-right: 128px !important;
    }


}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 600px) {
    #cardContainer {
        flex-wrap: wrap;
        margin: 96px auto;
        align-items: center;
        justify-content: center;
    }
    #accessibility {
        margin: 64px 0px;
    }
    #selectedSkill {
        min-height: 265px;
        max-height: 265px;
        border: 1px solid #C7C5C3;
        border-radius: 15px;
        background-color: white;
        align-items: center;
        max-width: 332px;
        min-width: 332px;
        flex: none;
    }
    #siteContent {
        margin: auto 64px;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    #cardContainer {
        flex-wrap: wrap;
        margin: 96px auto;
        align-items: center;
        justify-content: center;
    }
    #accessibility {
        margin: 64px 0px;
    }
    #selectedSkill {
        min-height: 265px;
        max-height: fit-content;
        border: 1px solid #C7C5C3;
        border-radius: 15px;
        background-color: white;
        align-items: center;
        max-width: 332px;
        min-width: 349px;
        flex: auto;
    }
    #siteContent {
        margin: auto 64px;
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px), (max-width: 1310px) {
}
/* and even larger (1410px and below) */
@media only screen and (max-width: 1410px) {}

