a.mobileNavLink {
    text-decoration: none;
    padding: 0px 4px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px;
    margin: 0px 0px !important;
    align-items: center;
}
p.mobileNavLink {
    text-decoration: none;
    padding: 0px 4px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px;
    margin: 0px 0px !important;
    align-items: center;
}

a.mobileNavDefault {
    font-weight: 600;
}
p.mobileNavSelected {
    font-weight: 800;
    color: #A2798F !important;


}

#mobileNavContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    /* align-items: center; */
    width: 100%;
    text-align: center;
    border-top: 2px solid rgba(70, 69, 69, 0.15);
    border-style: groove;
    border-bottom: none;
    border-left: none;
    border-right: none;

}

#mobileNav {
    border-top: 2px;
}

a.icon:link {
    color: #464545;    
}

a.icon:visited {
    color: #464545;    
}
a.icon:hover {
    color: #464545;   
}
a.icon:active {
    color: #A2798F;  
}
a.icon:focus {
    color: #464545;     
}

