body {
    font-family: Mulish;
    background-color: #FEFCF9;
    margin: 0 115px;
    padding: 0;
    max-width: auto;
    
}
#header {
    background-color: #FEFCF9;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#rvaLogo {
    /* padding-left: 115px; */
    margin: 0px 5%;
}
#navigation {
    display: flex;
    margin: 0px 5%;
    /* width: 252px; */
    width: 345px;
    flex-direction: row;
    /* align-items: flex-start; */
    /* margin-left: 0px 95%; */
    /* margin-right: 0px 5%; */
    justify-content: space-between;
    /* padding-right: 115px; */
    align-content: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
}
#heroGrid {
    background-image: url("../Style/Images/mitchell-luo-oLw9R4GxGug-unsplash.png");
    /* background-image: url("../Style/Images/hero background full.png"); */
    height: 464px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1,0.);
    background-position: 0%;
    align-content: center;
    justify-content: center;
}
.placeholder {
    max-width: 70%;
    max-height: 70%;
    height: 300px;
}



/* SKILLGRID STYLING */

#skillGrid {
    max-height: 530px;
    max-width: 1255px;
    width: auto;
    /* align-content: center; */
    margin-top: 120px;
    margin-bottom: 120px;
    
    
}
#cardContainer {
    display: grid;
    grid-template-rows: 290px;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-template-areas:
    "uxWriting accessibility webDevelopment";
    width: auto;
}

.selectedSkill {
    width: 332px;
    height: 290px;
    border: 1px solid #C7C5C3;
    border-radius: 15px;
    background-color: white;

}

#uxWriting {
    grid-area: uxWriting;
    margin: 0 0;
}

#accessibility {
    grid-area: accessibility;
    /* margin-left: 107px; */
    margin: 0 0;
}
#webDevelopment {
    grid-area: webDevelopment;
    /* margin-left: 107px; */
    margin: 0 0;
}






/* FOOTER STYLING */


#footer p {
    align-items: center;
}

#footerGrid {
    background-color: #799491;
    display: flex;
    flex-direction: row;
    height: 135px;
    width: 100%;
    align-items: center;
    
    /* justify-content: space-between; */
}

#rvaLogoFooter {
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 16px;
    /*     padding-bottom: 16px; */
    padding-left: 115px;
    margin: 0px 5%;
    
}

#copyright {
    color: #FEFCF9
}
#footerContainer {
    /* align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: flex;
    flex-direction: row;
    /* padding-right: 115px; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

#socialContainer {
    display: flex;
    flex-direction: row;
    /* padding-left: 45%; */
    padding-right: 115px;
    padding-left: 30px;
    margin: 0px 5%;
    width: 144px;
    justify-content: space-between;
}


/* Text Styling */

#h1NoMargin {
    margin-top: 0;
}
h1 {
    font-family: TiemposHeadline;
    
}
h2 {
    font-family: TiemposHeadline;
}
h3 {
    font-family: TiemposHeadline;
}
.primaryPink {
    color: #A2798F;
}
